#NAME="config.sample"

# If this is the first time using "arch-setup", then I suggest looking at
# the README file first.

# Copy this file to 'config' and enable/disable the desired settings ...
#
#   $ cp config.sample config

####################################################
#                                                  #
#  This section contains configuration properties  #
#                                                  #
####################################################

# GRUB: Add a bit of colour, a bit of sound, and wallpaper!
#
# 'y' or 'n' to enable/disable.
GRUB_EXTRAS=n

# SUDO: Add config files to sudoers.d/ directory to allow members of the
# wheel group extra privileges; the ability to shutdown/reboot the system
# and read the kernel buffer using `dmesg` without a password for example.
#
# 'y' or 'n' to enable/disable.
SUDO_EXTRAS=n

# ISSUE: Modify /etc/issue with your own message to be printed before the
# login prompt. Replace $PWD/files/etc/issue with your own custom issue and
# and enable by choosing 'y'.
ISSUE_CUSTOM=n

# NETWORK MANAGER: Install GNOME network-manager and network-manager-applet.
#
# If launching X courtesy of 'startx' - and desire to use nm-applet - start the
# gnome-keyring by adding to  ~/.xinitrc ...
#
#   eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
#   export SSH_AUTH_SOCK
#
#
# 'y' or 'n' to enable/disable.
NETMAN_INSTALL=n
