[Desktop Entry]
Type=Application
Terminal=false
Name=qpdfview
Icon=adobe-reader
GenericName=PDF viewer
Comment=A tabbed PDF viewer using the poppler library.
Categories=Viewer;Office;
TryExec=qpdfview
Exec=qpdfview --unique %F
MimeType=application/pdf;application/x-pdf;text/pdf;text/x-pdf;image/pdf;image/x-pdf;application/postscript;image/vnd.djvu;image/x-djvu;
Actions=ChooseInstance;NonUniqueInstance;

[Desktop Action ChooseInstance]
Name=Choose instance
Exec=qpdfview --unique --choose-instance %F

[Desktop Action NonUniqueInstance]
Name=Non-unique instance
Exec=qpdfview %F
