# If this is the first time using "ubuntu-lts-setup", then I suggest
# looking at the README file first.

####################################################
#                                                  #
#  This section contains configuration properties  #
#                                                  #
####################################################

# GRUB: Add a bit of colour, a bit of sound, and wallpaper!
#
# 'y' or 'n' to enable/disable.
GRUB_EXTRAS=n

# LOGIN: Configure the Slick Greeter used by LightDM at login window. Users
# can create and modify /etc/lightdm/slick-greeter.conf, settings in this
# file take priority.
#
# 'y' or 'n' to enable/disable.
CUSTOM_LOGIN=n
