# If this is the first time using "debian-stable-setup", then I suggest
# looking at the README file first.

####################################################
#                                                  #
#  This section contains configuration properties  #
#                                                  #
####################################################

# Install security updates automatically courtesy of `unattended-upgrades`
# package with options set in /etc/apt/apt.conf.d/50unattended-upgrades.
#
# Activate tracking with details provided in /etc/apt/apt.conf.d/02periodic.
# 
# Upgrade information is logged under /var/log/unattended-upgrades.
#
# See: "Automatic security updates on Debian"
#       https://www.circuidipity.com/unattended-upgrades.html
#
# 'y' or 'n' to enable/disable.
UNATTENDED_UPGRADES=n

# GRUB: Add a bit of colour, a bit of sound, and wallpaper!
#
# 'y' or 'n' to enable/disable.
GRUB_EXTRAS=n

# SUDO: Add config files to /etc/sudoers.d/ to allow members of the sudo group
# extra privileges; the ability to shutdown/reboot the system and read the
# kernel buffer using `dmesg` without a password for example.
#
# See: "Minimal Debian"
#       https://www.circuidipity.com/minimal-debian.html#sudo
#
# 'y' or 'n' to enable/disable.
SUDO_EXTRAS=n
